*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.singupBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupForm{
    border: 2px solid black;
    width: 445px;
    height: 500px;
    padding-left: 35px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}

.btn{
    margin-top: 15px;
    width: 365px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

input{
    width: 365px;
    height: 35px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
}

p{
    margin-bottom: 12px;
}