*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://www.shutterstock.com/shutterstock/photos/1805999563/display_1500/stock-vector-effective-time-management-symbols-funny-cartoon-characters-planning-activities-tracking-projects-1805999563.jpg) no-repeat center center/cover
}
