*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(135,169,107);
    background: linear-gradient(90deg, rgba(135,169,107,1) 0%, rgba(102,205,171,0.9752275910364145) 29%, rgba(127,255,212,1) 54%, rgba(52,75,73,1) 100%);
}